@import '../../sass/_common.scss';
.c-hot-foodmaterial{
    font-size: 1.4rem;
    margin: 24px 8px;
    .hot-foodmaterial-title{
        background: url(./images/menu.png) no-repeat top left;
        background-size: 1.7rem;
        font-size: 1.6rem;
        text-indent: 2rem;
        padding-bottom: 8px;
        border-bottom: 1px solid $base-bg;
    }
    .hot-foodmaterial-con{
        width: 100%;
        overflow: hidden;
        margin-top: 0.8rem;
    }
    ul{
        overflow: hidden;
        width: 100%;
    }
    .hot-foodmaterial-item{
        float: left;
        @include box-sizing();
        width: 20%;
        margin: 0 2.5%;
        height: 9rem;
        .hot-foodmaterial-item-pic{
            width: 100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .hot-foodmaterial-item-info{
            text-align: center;
            .hot-foodmaterial-item-title{
                font-size: 1.2rem;
                margin: 2% 0;
            }
            .hot-foodmaterial-item-desc{
                font-size: 1rem;
                color: $base-font;
            }
        }
    }
    .check-all-foodmaterial-catalogue{
        width: 50%;
        margin: 1rem auto;
        text-align: center;
        padding: 1rem 0;
        border: 1px solid $base-red;
        @include border-radius(20px);
        color: $base-red;
        font-size: 1.4rem;
    }
}