@import '../../sass/_common.scss';
.c-register{
    .register-tips{
        text-align: center;
        color: $base-font;
        margin: 2% 0;
        font-size: 1.2rem;
    }
    input{
        font-size: 1.6rem;
        display: block;
        outline: none;
        border: none;
        border-bottom: 1px solid $base-bg;
        margin: 2rem auto;
        width: 80%;
    }
    .username{
        background: url(./images/people.png) no-repeat left center;
        background-size: 1.6rem auto;
        text-indent: 2rem;
    }
    .password,.confirm-password{
        background: url(./images/password.png) no-repeat left center;
        background-size: 1.6rem auto;
        text-indent: 2rem;
    }
    .email{
        background: url(./images/email.png) no-repeat left center;
        background-size: 1.6rem auto;
        text-indent: 2rem;
    }
    .button{
        font-size: 1.4rem;
        padding: 10px;
        background-color: $base-red;
        color: #fff;
        @include border-radius(5px);
    }
    .tips{
        @include middle();
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        padding: 5% 10%;
        @include border-radius(10px);
        z-index: 2;
        display: none;
        &.show{
            display: block;
        }
    }

}